### Node ###
# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Dependency directories
node_modules/

# Optional npm cache directory
.npm

### C++ ###
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# GCC coverage testing tool files
*.gcno
*.gcda
*.gcov

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

### CLion ###
.idea/

# Build output
build/deps/
build/target/
build/enums.cpp
build/functions.cpp
build/properties.cpp
build/vips.d.ts
lib/*
playground/dist/
versions.json

# Build caches
build/cargo-cache/
build/ccache/
build/emcache/

# User-specific stuff
package-lock.json
test/bench/images/output*

# Include type definitions
!lib/vips.d.ts
